@media (min-width: 991.98px) {
}
@media (max-width: 1199.98px) {
	.about {
		margin: 0px 0px 200px 0px;
		padding: 0px 70px;
	}
}
@media (max-width: 991.98px) {
	.about {
		display: none;
	}
}

@media (max-width: 767.98px) {
}

@media (max-width: 575.98px) {
}
