@import "base/null.scss";
@import "base/fonts";
@import "base/links";

@import "libs/animate";

* {
	font-family: "Roboto", sans-serif;
	margin: 0;
	padding: 0;
}
.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
}
body.lock {
	overflow: hidden;
}

@import "blocks/header";
@import "blocks/main";
@import "blocks/content";
@import "blocks/contacts";
@import "blocks/about";
@import "blocks/shop";

@import "media/header_media";
@import "media/main_media";
@import "media/content_icon_media";
@import "media/contacts_media";
@import "media/about_media";
@import "media/shop_media";


@import "blocks/aboutme";
@import "media/aboutme_media";

@import "blocks/wallet";
@import "media/wallet_media";