@import "base/null.scss";
@import "base/fonts";
@import "base/btn";
@import "base/links";

* {
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1130px;
	margin: 0px auto;
	padding: 0px 15px;
	@media (max-width: 1199.98px) {
		max-width: 970px;
	}
	@media (max-width: 991.98px) {
		max-width: 750px;
	}
	@media (max-width: 767.98px) {
		max-width: none;
	}
}


@import "blocks/header";
@import "blocks/footer";

@import "media/header_media";
@import "media/footer_media";
